@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*
{
    margin: 0;
}

.title
{
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.input-section
{
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 10px;
    background-color: rgb(70, 70, 70);
    left: 50%;
    transform: translateX(-50%);
}

#txt
{
    font-family: "Space Grotesk", sans-serif;
    background-color: darkgray;
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin-right: 5px;
    width: 200px;
}

#txt:focus
{
    outline: none;
}

.send-btn
{
    font-family: "Space Grotesk", sans-serif;
    width: 80px;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: darkgray;
    border: none;
    border-radius: 10px;
}

.send-btn img
{
    width: 20px;
    align-items: center;
}

#out
{
    font-family: "Space Grotesk", sans-serif;
}

.output-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.output-section img
{
    margin-right: 20px;
    width: 30px;
}

#models
{
    margin-right: 5px;
    background-color: darkgray;
    outline: none;
    border: none;
    border-radius: 10px;
}