@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('palette.css');

*
{
    margin: 0;
}

body
{
    background-color: var(--ai-bg);
    color: var(--ai-text);
}

.title
{
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.input-section
{
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 10px;
    background-color: rgb(70, 70, 70);
    color: var(--ai-text);
    left: 50%;
    transform: translateX(-50%);
}

#txt
{
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--ai-muted);
    color: var(--ai-text);
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin-right: 5px;
    width: 200px;
}

#txt:focus
{
    outline: none;
}

.send-btn
{
    font-family: "Space Grotesk", sans-serif;
    width: 80px;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: var(--ai-muted);
    color: var(--ai-text);
    border: none;
    border-radius: 10px;
}

.send-btn img
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(325%) hue-rotate(263deg) brightness(116%) contrast(76%);
    width: 20px;
    align-items: center;
}

#out
{
    font-family: "Space Grotesk", sans-serif;
}

.output-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.output-section img
{
    filter: brightness(0) saturate(100%) invert(46%) sepia(73%) saturate(2284%) hue-rotate(206deg) brightness(107%) contrast(102%);
    margin-right: 20px;
    width: 30px;
}

#models
{
    margin-right: 5px;
    background-color: var(--ai-muted);
    color: var(--ai-text);
    outline: none;
    border: none;
    border-radius: 10px;
}